.config/GIMP/3.0
.config/Thunar
.config/aseprite
.config/chromium
.config/corectrl
.gnupg
.icons/default
.local/share/Steam
.local/share/godot/shader_cache
.local/share/godot
.local/share/gozen
.local/share/gvfs-metadata
.local/share/kdenlive
.local/share/keyrings
.local/share/mime
.local/share/nvim
.local/share/vulkan/implicit_layer.d
.local/share/xorg
.local/share/recently-used.xbel
.local/share/user-places.xbel
.local/share/user-places.xbel.bak
.local/share/user-places.xbel.tbcache
.local/state/lazygit
.local/state
.minecraft
.npm
.pki/nssdb
.psensor
.ssh
.steam
.vim
dotfiles
go/pkg
obs-multi-rtmp
yay-bin
.bash_history
.bash_logout
.gitconfig
.gtkrc-2.0
.pulse-cookie
.steampath
.steampid
.viminfo
Documents
Downloads
Music
Pictures
Videos
.config/dconf
.config/fcitx/dbus
.config/fcitx5
.config/go/telemetry/local
.config/flameshot
.config/godot
.config/gtk-3.0
.config/ibus/bus
.config/lazygit
.config/mozc
.config/neofetch
.config/obs-studio
.config/pulse
.config/systemd/user/default.target.wants
.config/xfce4
.config/QtProject.conf
.config/kdenlive-layoutsrc
.config/kdenliverc
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
